.form {
    display: flex;
    flex-direction: column;

    .exit {
        text-align: right;
    }

    h1 {
        text-align: center;
    }

    label {
        padding: 0 5px;
        font-weight: 500;
    }

    input {
        padding: 10px;
        border: 1px solid lightgrey;
        margin: 10px 5px 15px;
    }

    button {
        @include ctaButton;
    }
}